<div class="container text-center mt-5">
    <h1>Login form</h1>
    <form class="border w-75 text-center mt-5  shadow p-5">
        
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="email" name="email">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="pswd" name="pswd">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-success w-50" value="login">
            <span class="ms-4">New a user?<a routerLink="register"> Register</a></span>
        </div>
    </form>
</div>
